body {
  margin: 0;
  padding: 0;
  background-color: #f7f1e3;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
.color-red {
  color: tomato;
}
.top-container {
  display: flex;
  text-align: center;
  /* height: 88vh; */
  /* background-image: url(/images/bg-transparent.png);
  background-repeat: no-repeat; */
}
.top-container img {
  border: 2px solid white;
  /* border-radius: 50%; */
  border-radius: 40px;
}
.left-side {
  width: 50%;
  margin: 100px 25px;
  padding: 20px;
  text-align: justify;
}
.left-side p {
  text-align: justify;
}
.left-side h1,
h2 {
  text-align: center;
}

.right-side {
  width: 50%;
  margin: 100px 25px;
}
.right-side p {
  text-align: justify;
  margin-right: 30px;
}
.right-side h1,
h2 {
  text-align: center;
}

.hire-button {
  text-decoration: none;
  background: linear-gradient(#ff416c, #ff4b2b);
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
}
.quote {
  background-color: black;
  color: wheat;
  text-align: center;
  padding: 10px;
}
.quote p {
  font-family: "Kaushan Script", cursive;
  font-size: 25px;
}

.dream-section {
  display: flex;
  /* height: 88vh; */
}
.dream-section img {
  border-radius: 40px;
  margin-left: 50px;
}
.activity-section {
  text-align: center;
}
.activity-container {
  display: inline-block;
  margin-bottom: 150px;
  /* border: 1px solid coral;
  box-shadow: 10px 5px 5px gray;
  padding: 30px;
  background-color: snow; */
}
.task-detail {
  background-color: whitesmoke;
  box-shadow: 10px 15px 5px lightsteelblue;
  padding: 20px;
  margin: 20px 10px;
  border-radius: 10px;
}
#task-1 {
  border-image: linear-gradient(lightsalmon, tomato);
  border-image-slice: 1;
  border-left: 4px solid;
  border-right: 1px solid;
  border-radius: 5px;
}
#task-2 {
  border-image: linear-gradient(#ec2f4b, #009fff);
  border-image-slice: 2;
  border-right: 4px solid;
  border-left: 1px solid;
  border-radius: 5px;
}
#task-3 {
  border-image: linear-gradient(#8360c3, #2ebf91);
  border-image-slice: 1;
  border-left: 4px solid;
  border-right: 1px solid;
  border-radius: 5px;
}
#task-4 {
  border-image: linear-gradient(#000046, #1cb5e0);
  border-image-slice: 2;
  border-right: 4px solid;
  border-left: 1px solid;
  border-radius: 5px;
}
#task-5 {
  border-image: linear-gradient(#ed213a, #93291e);
  border-image-slice: 1;
  border-left: 4px solid;
  border-right: 1px solid;
  border-radius: 5px;
}

.experience-section {
  text-align: center;
}
.experience-container {
  display: flex;
  text-align: justify;
}

.exp-main {
  background-image: linear-gradient(45deg, #7f7fd5, #86a8e7, #91eae4);
  border-radius: 15px;
  padding: 30px 60px;
  border-right: 5px solid;
  border-image: linear-gradient(#b21f1f, #fdbb2d);
  border-image-slice: 2;
  border-radius: 10px;
}
.exp-main h2 {
  text-align: justify;
}
.exp-side h2 {
  text-align: justify;
}
.exp-side {
  background-image: linear-gradient(45deg, #91eae4, #86a8e7, #7f7fd5);
  border-radius: 15px;
  padding: 30px 60px;
  border-left: 5px solid;
  border-image: linear-gradient(#fdc830, #f37335);
  border-image-slice: 1;
  border-radius: 10px;
}
footer {
  text-align: center;
  background-color: rgb(37, 33, 33);
  color: white;
  padding: 6px 0px;
}

@media screen and (max-width: 768px) {
  .top-container {
    display: block;
  }
  .left-side {
    width: 85%;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
  }

  .right-side {
    width: 85%;
    margin: 60px auto;
    text-align: center;
  }
  .right-side p {
    text-align: justify;
    margin-right: 30px;
  }

  .quote p {
    font-size: 18px;
  }

  .dream-section {
    display: block;
  }
  .dream-section img {
    margin-left: 0;
  }

  .experience-section {
    margin: auto;
  }
  .experience-container {
    display: inline-block;
  }

  .exp-main {
    background-image: linear-gradient(45deg, #7f7fd5, #86a8e7, #91eae4);
    border-radius: 15px;
    padding: 30px 60px;
    border-right: 5px solid;
    border-image: linear-gradient(#b21f1f, #fdbb2d);
    border-image-slice: 2;
    border-radius: 10px;
    width: 60%;
  }
  .exp-side {
    background-image: linear-gradient(45deg, #91eae4, #86a8e7, #7f7fd5);
    border-radius: 15px;
    padding: 30px 60px;
    border-left: 5px solid;
    border-image: linear-gradient(#fdc830, #f37335);
    border-image-slice: 1;
    border-radius: 10px;
    width: 60%;
  }
  .exp-main h2 {
    text-align: center;
  }
  .exp-side h2 {
    text-align: center;
  }
  footer {
    text-align: center;
    font-size: 12px;
    background-color: rgb(37, 33, 33);
    color: white;
    padding: 6px 0px;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  .top-container img {
    height: 240px;
    width: 370px;
  }

  .left-side {
    text-align: justify;
  }

  .right-side {
    text-align: justify;
  }
  .quote {
    padding: 3px 0px;
  }
  .quote p {
    font-size: 20px;
  }
  .dream-section img {
    height: 240px;
    width: 370px;
  }
  .experience-container h5 {
    text-align: center;
  }
  footer {
    font-size: 12px;
    background-color: rgb(37, 33, 33);
    color: white;
    padding: 6px 0px;
  }
}
