body {
  margin: 0;
  padding: 0;
  background-color: #f7f1e3;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
.color-red {
  color: tomato;
}
.top-container {
  display: flex;
  text-align: center;
  height: 88vh;
  /* background-image: url(/images/bg-transparent.png);
  background-repeat: no-repeat; */
}
.top-container img {
  border: 2px solid white;
  /* border-radius: 50%; */
  border-radius: 40px;
}
.left-side {
  width: 50%;
  margin: 100px 25px;
  padding: 20px;
  text-align: justify;
}
.left-side h1,
h2 {
  text-align: center;
}

.right-side {
  width: 50%;
  margin: 100px 25px;
}
.right-side h1,
h2 {
  text-align: center;
}

.hire-button {
  text-decoration: none;
  background: linear-gradient(#ff416c, #ff4b2b);
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
}
.quote {
  background-color: black;
  color: wheat;
  text-align: center;
  padding: 10px;
}
.quote p {
  font-size: 25px;
}

.dream-section {
  display: flex;
  height: 88vh;
}
.dream-section img {
  border-radius: 40px;
}
.activity-section {
  text-align: center;
}
.activity-container {
  display: inline-block;
  /* border: 1px solid coral;
  box-shadow: 10px 5px 5px gray;
  padding: 30px;
  background-color: snow; */
}
.task-detail {
  background-color: whitesmoke;
  box-shadow: 10px 15px 5px lightsteelblue;
  padding: 20px;
  margin: 20px 10px;
  border-radius: 10px;
}
#task-1 {
  border-image: linear-gradient(lightsalmon, tomato);
  border-image-slice: 1;
  border-left: 4px solid;
}
#task-2 {
  border-image: linear-gradient(#ec2f4b, #009fff);
  border-image-slice: 2;
  border-right: 4px solid;
}
#task-3 {
  border-image: linear-gradient(#8360c3, #2ebf91);
  border-image-slice: 1;
  border-left: 4px solid;
}
#task-4 {
  border-image: linear-gradient(#000046, #1cb5e0);
  border-image-slice: 2;
  border-right: 4px solid;
}
#task-5 {
  border-image: linear-gradient(#ed213a, #93291e);
  border-image-slice: 1;
  border-left: 4px solid;
}
